<div class="float-left">
  <h4> Fax Claim</h4>
</div>
<div class="float-right">
  <button class="btn btn-success btn-sm" (click)="ngOnInit()"><i class="fas fa-sync-alt"></i> To Day.</button>
</div>
<div style="margin-top:3%">
  <hr>
  <form [formGroup]="searchForm" (submit)="searchFN()" id="formSearch" style="display:none;">
    <div class="row">


      <div class="col-lg-5 col-sm-12 col-xs-12" style="padding:9px;margin-left: 5%">
        <span> ค้นหาด้วย : </span>
        <div class="custom-control custom-radio custom-control-inline" style="    padding-left: 40px;">
          <input type="radio" (change)="setTypeSearch()" id="customRadioInline1" formControlName="searchType" name="searchType"
            value="policy_no" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline1">เลขกรมธรรม์</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline" style="padding-left: 40px;">
          <input type="radio" (change)="setTypeSearch()" formControlName="searchType" name="searchType" value="NatID"
            id="customRadioInline2" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline2">เลขบัตรประชาชน</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline" style="padding-left: 40px;">
          <input type="radio" (change)="setTypeSearch()" id="customRadioInline3" formControlName="searchType" name="searchType"
            value="date" class="custom-control-input" checked>
          <label class="custom-control-label" for="customRadioInline3">ช่วงวันที่</label>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12 col-xs-12" style="margin-left: -7%">
        <!-- <div class="col-lg-3 col-sm-12 col-xs-12" style="margin-left: -10%;"> -->
        <input type="text" *ngIf="!dateChk" id="textSh" class="form-control" formControlName="searchTxt" placeholder="กรุณากรอกข้อมูล">
        <div *ngIf="dateChk">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">วันที่เริ่มต้น </span>
            </div>
            <input type="date" formControlName="startDate" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">วันที่สิ้นสุด</span>
            </div>
            <input type="date" class="form-control" formControlName="endDate" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <button type="submit" class="btn btn-primary "><i class="fas fa-search"></i></button>
      </div>
    </div>
  </form>

  <hr>
  <h5 style="padding-left:30px">ข้อมูลวันที่ {{startDate}} ถึง {{endDate}}</h5>
  <div class="container text-center" style="    margin-top: 7%;color:#777777" *ngIf="loading">
    <p>
      <ngb-progressbar type="info" [value]="100" [striped]="true" [animated]="true" height="25px"></ngb-progressbar>
    </p>
    <h5>{{txt_load}}</h5>

  </div>
  <table *ngIf="!loading" id="table_id" class="table table-hover table-bordered" style="width:100%;margin-top: 1%"
    [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
    <thead>
      <tr>
        <th>
          <mfDefaultSorter by="notify_no"> Notify No.</mfDefaultSorter>
        </th>
        <th>Policy no.</th>
        <th>
          <mfDefaultSorter by="PatName">Client Name</mfDefaultSorter>
        </th>

        <th>Plan</th>
        <th>Prov Name</th>

        <th>Admit Date <small><b>( วัน/เดือน/ปี )</b></small> </th>
        <th>fcharge</th>
        <th>fbenfpaid</th>

    </thead>
    <tbody>

      <tr *ngFor="let item of mf.data ">
        <td data-toggle="modal" data-target=".bd-example-modal-lg" data (click)="claim_detail(item)" style="cursor: pointer;color:#007d92"><i
            class="far fa-eye"></i> {{item.notify_no}}</td>
        <td>{{item.Pol_number}}</td>
        <td>{{item.PatName}}</td>
        <td>{{item.PlanCode}}</td>
        <td>{{item.prov_name}}</td>
        <td>{{item.Admit_date | date:"dd/MM/yyyy"}}</td>
        <td class="text-right">{{item.fcharge | number}}</td>
        <td class="text-right">{{item.fbenfpaid | number}}</td>

      </tr>

    </tbody>
    <tfoot>
      <tr>
        <td colspan="11">
          <p style="color:#3c3c3c61"><b>Data Total : {{data_total}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Page Total :
              {{(page_total+1)
              | number:'1.0-0'}}</b></p>
          <mfBootstrapPaginator></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>




<!-- toast -->
<div id="snackbar"><i class="fas fa-exclamation-circle fa-2x"></i> <span></span></div>