/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
body {
   /* font-family: 'Kanit', sans-serif; */
   font-family: 'Roboto-Regular', sans-serif;
   font-size: 14px;

}

/* // Large devices (desktops, 992px and up) */
@media screen and (max-width: 1199.98px) { 
  body {
    /* font-family: 'Kanit', sans-serif; */
    /* font-family: 'Roboto-Regular', sans-serif; */
    /* font-size: 10px; */
 
  }


 }

 @font-face {
   font-family: 'Roboto-Regular';
   src: url('assets/font/Roboto-Regular.ttf') format('truetype');
 }

/* .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
} */
.card{
  border-radius: 0;
}
.card-header{
  background-color: rgba(70, 157, 187, 0.16);
  font-weight: 600;
  font-size: 16px;
  color: #4c4a4ad4;
}
div.modal-footer {
  padding: 30px;
  /* margin-top: 80px; */
}
div.modal-body {
  padding: 30px;
  /* margin-top: 80px; */
}
div.modal-header {
  padding: 15px;
  background-color: #15799c;
  color: #fff;
  border-radius: 0;
  
}
div.modal-content {
  width: 1500px ;
  margin-left: -42% ;
  border-radius: 0;
  border:0;
}
 .footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;  
  z-index: -1000;

  text-align: center;
  color: #969292;
  font-size: 12px;
 }
 .btn-hbc {
   color:#fff;
  background-color: #004c67;
  border-color: #004c67;
 }
 .btn {
  border-radius: 0;
 }
 .slideMenu {
   font-size: 16px;
  width: 15%;
  height: 100%;
  /* margin-top:  3%; */
  box-shadow: -2px 1px 27px rgba(150, 150, 150, 0.9215686274509803);
  /* color: #fff; */
  font-size: 14pt;
  position: fixed;
  overflow-x: hidden;
  transition: 0.5s;
}
.closeslide {
  float: right;
  font-size: 24pt;
  /* margin-right: 25px; */
  margin-top:-17px;
  font-weight: 500;
  color: #c1c1c1;
 
}
.bg-dark {
  background-color: #013f54 !important;
}

.navStyle {
  margin-left: 15%;
  color: #fff;
  transition: 0.5s;
}
.container-fluid{
    height: 500px;
    margin-left: 15%;   
    width: auto;
    transition: 0.5s;
    padding: 60px;
    padding-left : 1cm;
    padding-top:30px
}

.dropdown-menu {
  box-shadow: 2px 4px 9px rgba(101, 101, 101, 0.64);
  margin:0;
  border: 0;
  border-radius: 0;
}

.dropdown-item:hover {
  background-color: #f1f1f18f;
}
